---
layout: default
---

<div class="team_members">
  {% for team_member in site.team_members reversed %}

    <div class="team_member">
        <div class="image-container">
            <img src="images/team_members/{{team_member.image}}">
        </div>
      <h1 class="name">{{ team_member.name }}</h1>
      {% if team_member.cv_link %}
        <a href="{{team_member.cv_link}}" target="_blank" class="button button--wayra">Visa Profil</a>
      {% endif %}
      <p class="quote">"{{team_member.quote}}"</p>
    </div>

  {% endfor %}
</div>

<div class="posts">
  {% for post in site.posts limit: 3 %}
    <article class="post">

      <div class="entry">
          <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
          {% if post.featured_image %}
            <a href="{{ site.baseurl }}{{ post.url }}"><img src="{{site.baseurl}}/images/{{post.featured_image}}"></a>
          {% endif %}
          {{ post.excerpt | strip_html | truncatewords: 20}}
          <a href="{{ site.baseurl }}{{ post.url }}">Läs Mer</a>
      </div>

    </article>
  {% endfor %}
</div>

<div class="instagram_posts">
</div>

<script src="{{ site.baseurl }}/scripts/instagram.js"></script>