---
layout: default
---
<div class="landing">
  <header class="global-header">
    <div class="border"></div>
    <div class="logo">syson.</div>
  </header>
  <p class="landing-text">
      Om ekonomisk frihet, gemenskap och öppenhet är ord som tilltalar dig så har du hittat rätt. Våran stjärntrupp består av ...
  </p>
</div>

<div class="team_members">
  {% for team_member in site.team reversed %}

    <div class="team-member">
        <div class="image-container">
            <div class="image-placeholder">
                <img src="images/team/{{team_member.image}}">
            </div>
        </div>
      <h1 class="name">{{ team_member.name }}</h1>
      {% if team_member.cv_link %}
        <a href="{{team_member.permalink}}" target="_blank" class="button button--wayra">Visa Profil</a>
      {% endif %}
      <p class="quote">"{{team_member.quote}}"</p>
    </div>

  {% endfor %}
</div>

<hr class="divider">
<p>Vi har roligt tillsammans! Vi har besökt flertalet länder och upplevt till exempel ...</p>

<div class="posts">
    {% for post in site.posts limit: 3 %}
        {% include post_preview.html %}
    {% endfor %}
    <a class="archive-link" href="{{ site.baseurl }}/arkiv/">Läs fler nyheter</a>
</div>

<hr class="divider">

<div class="instagram-posts">
</div>

<script src="{{ site.baseurl }}/scripts/instagram.js"></script>
<script src="{{ site.baseurl }}/scripts/skrollr.js"></script>
<script src="{{ site.baseurl }}/scripts/main.js"></script>
