---
layout: default
---

<div class="team_members">
  {% for team_member in site.team_members reversed %}

    <div class="team_member">
      <img src="images/team_members/{{team_member.image}}">
      <h1 class="name">{{ team_member.name }}</h1>
      {% if team_member.cv_link %}
        <a href="{{team_member.cv_link}}" target="_blank" class="button button--wayra">Visa Profil</a>
      {% endif %}
      <p class="quote">"{{team_member.quote}}"</p>
    </div>

  {% endfor %}
</div>

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>

<div class="instagram_posts">
</div>