---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "responsive-nav";
@import "jeet/jeet";

// Syntax highlighting @import is at the bottom of this file

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

img {
  max-width: 100%;
}

.logo {
  text-align: center;
  color: $green-sea;
  font-size: 37px;
  letter-spacing: 2px;
}


.nav-toggle {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -18px;
  right: 0;
  text-indent: -9999px;
  overflow: hidden;
  display: none;
  background: $green-sea url("../images/hamburger.gif") no-repeat 50% 33%;
  @include mobile {
    display: block;
  }
}

.container {
  @include j-center(960px);
}

.team_member {
  @include j-column(1/3, $cycle: 3);
}

.post {
  @include j-column(1/3, $cycle: 3);
}

.instagram_post {
  @include j-column(1/4, $cycle: 4);
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
