---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "jeet/jeet";
// Syntax highlighting @import is at the bottom of this file

/* Uncomment the row below to help you when developing the site.
"Edit mode assigns a light gray, semi-transparent, background to every element on the page.
It's a little trick picked up over the years that makes visualizing the structure of your site trivial."
*/
//@include j-edit();


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: $midnight-blue;
}

h1 {
  font-size: 34px;
}

h4 {
    font-size: 25px;
    font-weight: bold;
}

ol, ul {
    list-style: initial;
    list-style-type: decimal;
}

p {
  margin-bottom: 12px;
}

strong {
  font-weight: bold;
}

hr {
  @include j-column();
  border: 0;
  border-top: 2px solid $clouds;
}

a {
  color: $belize-hole;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }

  &:visited {
    color: $belize-hole;
  }
}

.underline {
  text-decoration: underline;
}

.center {
  text-align: center;
}

.divider {
  margin: 50px 0;
  @include desktop {
    margin: 70px 0;
  }
}

img {
  max-width: 100%;
}

footer {
  @include j-column();
  background: $turquoise;
  padding: 20px 0;
  font-size: 16px;
  color: $white;

  .social-icons-container {
    text-align: center;
  }

  .container:last-child {
    //workaround due to lack of understanding of how this should be handled in jeet
    margin-right: auto;
  }

  .contact-info {
    text-align: center;
  }
  @include desktop {
    .social-icons-container {
      @include j-column(1/2);
      text-align: inherit;
    }

    .contact-info {
      text-align: left;
      @include j-column(1/2)
    }
  }

}

.border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $turquoise;
}

.logo {
  text-align: center;
  color: $turquoise;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;

  @include desktop {
    font-size: 70px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.landing {
  background-image: url('/images/IMG_5648.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 800px;
}

.landing-text {
  color: white;
  padding: 10px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  background-color: rgba(0,0,0,0.5);
  @include desktop {
    top: 30%;
  }
}

.global-header {
  opacity: 1;
}

.container {
  @include j-column(22/24, 1/24);
  margin-bottom: 30px;
  @include desktop {
    @include j-center(960px);
  }
}

.company-description {
  padding: 20px;
  margin-bottom: 40px;
  background-color: $clouds;
  p {
    margin-bottom: 12px;
  }
  p.last {
    margin-bottom: 0px;
  }
  @include j-column();
}

.team-members {
  margin-top: 20px;
}
.team-member {
  margin-bottom: 20px;
  @include j-column();

  @include tablet {
    @include j-column(1/2, $cycle: 2);
  }

  @include desktop {
    @include j-column(1/3, $cycle: 3);
  }

  .name {
    text-align: center;
  }

  .button {
    @include j-column(4/6, 1/6);
  }

  .quote {
    @include j-column();
    text-align: center;
  }

  .image-container {
    @include j-column(6/8, 1/8);

    .image-placeholder {
      //hack to make the images take up space before they are loaded, see
      // http://stackoverflow.com/questions/15520623/css-image-layouting-before-image-loaded
      position:relative;
      width:100%;
      height:0;
      padding-top:100%;

      img {
        @include j-column();
        border-radius: 50%;
        position:absolute;
        top:0;
        left:0;
        width:100%;
      }
    }
  }

}

.team-page {

  iframe {
    @include j-center(550px);
    height: 7000px;
    width: 100%;
  }
}

.entry {
  img {
    margin-bottom: 20px;
  }
}

.entry-date {
  margin-bottom: 10px;
}

.posts {
  @include j-column();
  text-align: center;

  .archive-link {
    @include j-column();

    @include desktop {
      @include j-column(4/6, 1/6);
    }

    .button {
      @include j-column(4/6, 1/6);
    }
  }

  @include desktop {
    text-align: left;
  }

}

.post {
  @include j-column();
  margin-bottom: 40px;

  @include tablet {
    @include j-column(1/2, $cycle: 2);
  }

  @include desktop {
    @include j-column(1/3, $cycle: 3);
  }

  h1 {
    a {
      color: inherit;
    }
  }
}

.instagram-post {
  margin-bottom: percentage($jeet-gutter/100);

  @include j-column(1/2, $cycle: 2);

  @include desktop {
    @include j-column(1/3, $cycle: 3);
  }
}

/* Wayra button from http://tympanus.net/Development/ButtonStylesInspiration/*/

.button {
  min-width: 150px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  border: none;
  background: none;
  color: $turquoise;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border: 3px solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  text-decoration: initial;
}

.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: $turquoise;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
  color: #fff !important;
  border-color: $turquoise;
}
.button--wayra.button--inverted:hover {
  color: $turquoise;
  border-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: $turquoise;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}
a.button.button--wayra:visited {
  color: $turquoise;
}
a.button.button--wayra:hover {
  text-decoration: inherit;
}




// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
