---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
@import "jeet/jeet";
// Syntax highlighting @import is at the bottom of this file

/* Uncomment the row below to help you when developing the site.
"Edit mode assigns a light gray, semi-transparent, background to every element on the page.
It's a little trick picked up over the years that makes visualizing the structure of your site trivial."
*/
//@include j-edit();


body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 20px;
  line-height: 1.4;
  color: $midnight-blue;
}

h1 {
  font-size: 34px;
}

h2 {
  font-size: 26px;
}

h4 {
    font-size: 25px;
    font-weight: bold;
}

ol, ul {
    list-style: initial;
    list-style-type: decimal;
}

p {
  margin-bottom: 12px;
}

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

hr {
  @include j-column();
  border: 0;
  border-top: 2px solid $clouds;
}

a {
  color: $midnight-blue;
  text-decoration: underline;
}

code {
  background-color: $clouds;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.guttered-bottom {
  margin-bottom: 20px;
}

.center {
  text-align: center;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.underline {
  text-decoration: underline;
}

.divider {
  margin: 50px 0;
  @include desktop {
    margin: 70px 0;
  }
}

footer {
  @include j-column();
  background: $turquoise;
  padding: 20px 0;
  font-size: 16px;
  color: $white;

  .social-icons-container {
    text-align: center;

    a {
      float: none !important; //overrides addthis-styles
    }
  }

  .container:last-child {
    //workaround due to lack of understanding of how this should be handled in jeet
    margin-right: auto;
  }

  .contact-info {
    text-align: center;
  }
  @include desktop {
    .social-icons-container {
      @include j-column(1/2);
      text-align: inherit;
    }

    .contact-info {
      text-align: left;
      @include j-column(1/2)
    }
  }

}

.border {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  height: .5em;
  background: $turquoise;
}

.logo {
  text-align: center;
  color: $turquoise;
  font-size: 50px;
  letter-spacing: 2px;
  margin-bottom: 20px;

  @include desktop {
    font-size: 70px;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.container {
  flex: 1;
  @include j-column(22/24, 1/24);
  margin-bottom: 30px;
  @include desktop {
    @include j-center(960px);
    width: 100%;
  }
}

.company-description {
  padding: 20px;
  margin-bottom: 40px;
  background-color: $clouds;
  text-align: center;
  p {
    margin-bottom: 0px;
  }
  @include j-column();
}

.team-members {
  margin-top: 20px;
}
.team-member {
  margin-bottom: 50px;
  text-align: center;
  @include j-column();

  @include tablet {
    @include j-column(1/2, $cycle: 2);
  }

  @include desktop {
    @include j-column(1/3, $cycle: 3);
  }

  .image-container {
    @include j-column(6/8, 1/8);

    .image-placeholder {
      //hack to make the images take up space before they are loaded, see
      // http://stackoverflow.com/questions/15520623/css-image-layouting-before-image-loaded
      position:relative;
      width:100%;
      height:0;
      padding-top:100%;

      img {
        @include j-column();
        border-radius: 50%;
        position:absolute;
        top:0;
        left:0;
        width:100%;
      }
    }
  }

}

.companies {
  text-align: center;
  @include j-column();
}

.company-logotype {
  @include desktop {
    @include j-column(1/2, $cycle: 2);
  }

  img {
    max-width: 100%;
    max-height: 150px;
  }

}

.salary-teaser {
  @include j-column();
  text-align: center;
}

.salary-calculator {
  margin-top: 20px;
  margin-bottom: 20px;
  input {
    font-size: 26px;
    width: 130px;
  }
}

.show-all-btn-container {
  @include j-column();

  @include desktop {
    @include j-column(1/3, 1/3);
  }
}

.hidden {
  display: none !important;
}

.instagram-headline {
  @include j-column();
}

.instagram-posts {
  @include j-center(1920px);
  width: 100%;
  margin-bottom: 30px;
}

#hourlyRateInput {
  max-width: 300px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- masonry .grid-item ---- */

.grid-sizer,
.grid-item {
  width: calc(50%);

  @include desktop {
      width: calc(33.333%);
  }
}

.grid-item {
  float: left;
  display: block;
  max-width: 100%;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

//range slider, generated with http://danielstern.ca/range.css/#/
input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 25px;
  border: 0.2px solid #1abc9c;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0.4px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #1abc9c;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(255, 255, 255, 0.78);
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: rgba(255, 255, 255, 0.78);
  border-radius: 25px;
  border: 0.2px solid #1abc9c;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0.4px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #1abc9c;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 11.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: rgba(242, 242, 242, 0.78);
  border: 0.2px solid #1abc9c;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
  border: 0.2px solid #1abc9c;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 0.4px #000031, 0px 0px 0px #00004b;
  border: 0px solid #00001e;
  height: 26px;
  width: 26px;
  border-radius: 15px;
  background: #1abc9c;
  cursor: pointer;
  height: 11.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: rgba(255, 255, 255, 0.78);
}
input[type=range]:focus::-ms-fill-upper {
  background: rgba(255, 255, 255, 0.78);
}



/* Wayra button from http://tympanus.net/Development/ButtonStylesInspiration/*/

.button {
  min-width: 150px;
  display: block;
  margin: 0 auto;
  padding: 1em 2em;
  border: none;
  background: $turquoise;
  color: $white;
  vertical-align: middle;
  position: relative;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  border: 3px solid;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
  text-decoration: initial;
}

.button--wayra {
  overflow: hidden;
  width: 245px;
  -webkit-transition: border-color 0.3s, color 0.3s;
  transition: border-color 0.3s, color 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: $turquoise;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}
.button--wayra:hover {
  color: #fff !important;
  border-color: $turquoise;
}
.button--wayra.button--inverted:hover {
  color: $turquoise;
  border-color: #fff;
}
.button--wayra:hover::before {
  opacity: 1;
  background-color: $turquoise;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}
.button--wayra.button--inverted:hover::before {
  background-color: #fff;
}
a.button.button--wayra:visited {
  color: $turquoise;
}
a.button.button--wayra:hover {
  text-decoration: inherit;
}




// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";
