
//
// VARIABLES
//

// Colors
$blue: #4183C4;

// Grays
$black: #000;
$darkerGray: #222;
$darkGray: #333;
$gray: #666;
$lightGray: #eee;
$white: #fff;

$green-sea: #16a085;
$turquoise: #1abc9c;
$emerald: #2ecc71;
$clouds: #ecf0f1;
$midnight-blue: #2c3e50;
$belize-hole: #2980b9;


// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1024px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 640px) and (max-width: 1024px) {
    @content;
  }
}
